// General
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  // scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: $black;
  position: relative;

  &.dark-mode {
    background-color: $dark-bg;
    color: $dark-text;
  
    a {
      &,
      &:active,
      &:focus,
      &:visited {
        color: $dark-text;
      }

      &:hover {
        color: $dark-orange;
      }
    }

    .boosted-leds {
      .boosted-power-led {
        &.boosted-led-red {
          &::after {
            box-shadow: 0 0 12px $led-red;
          }
        }
      
        &.boosted-led-green {
          &::after {
            box-shadow: 0 0 12px $led-green;
          }
        }
      
        &.boosted-led-yellow {
          &::after {
            box-shadow: 0 0 12px $led-yellow;
          }
        }
      
        &.boosted-led-blue {
          &::after {
            box-shadow: 0 0 12px $led-blue;
          }
        }

        &.boosted-led-white {
          &::after {
            box-shadow: 0 0 12px $white;
            border: none;
          }
        }
      }

      .boosted-battery-leds {
        .boosted-led-orange {
          i.fa-circle {
            &::before {
              text-shadow: 0 0 10px $led-orange;
            }
          }
        }
      }
    }

    #page-load-bar {
      background-color: $dark-orange;
    }
  
    button#dark-mode-btn {
      border: 2px solid $dark-text;
      color: $dark-text;
    
      svg {
        path {
          fill: $dark-text
        }
      }
    }

    button#scroll-top-btn {
      background-color: $dark-orange;
    }
  
    nav#f-b-nav {
      background-color: #202020;
  
      #f-b-nav-cont {
        #nav-btn {
          .hamburger-box {
            .hamburger-inner {
              &,
              &:before,
              &:after {
                background-color: $dark-text;
              }
            }
          }
        }

        #nav-logo {
          > a {
            &:hover {
              svg {
                path {
                  fill: $dark-orange;

                  @include media("<=tablet") {
                    fill: $dark-text;
                  }
                }
              }
            }

            svg {
              path {
                fill: $dark-text;
              }
            }
          }
        }
  
        ul#nav-links {
          @include media("<=tablet") {
            background-color: $dark-nav;
          }

          li.nav-link-item {
            > a {
              &:before {
                background-color: $dark-orange;
              }

              &:hover,
              &.active {
                color: $dark-orange;
              }
            }
          }
        }
      }
    }
  
    #main {
      .homepage-cont {
        main {
          section#homepage-content {
            .page-content-block {
              &#homepage-nav {
                #homepage-nav-cont {
                  .homepage-nav-row {
                    a {
                      .homepage-nav-row-cont {
                        background-image: linear-gradient(to right, $orange-light, $dark-orange);
                      }
                    }
                  }
                }
              }

              &#homepage-copy {
                background-color: $dark-bg;
              }
            }
          }
        }
      }

      main {
        &.two-col {
          nav.small-col {
            ul {
              > li {
                a {
                  &.active-section {
                    color: $dark-orange;

                    @include media("<=tablet") {
                      color: $dark-text;
                    }
                  }
                }
              }
            }
          }
        }

        button {
          color: $dark-text;
        }
    
        section#faq {
          .faq-category {
            .faq-item {
              .a-icon {
                color: $dark-text;
              }

              .q-icon {
                color: $dark-orange;
              }
            }
          }
        }
      }

      footer {
        > div {
          .fa-heart {
            color: $dark-orange;
          }
        }
      }
    }
  }
}

a,
h1,
img,
li,
.button {
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  &,
  &:active,
  &:focus,
  &:visited {
    color: $black;
  }

  &:hover {
    color: $orange;
  }

  &.external-link {
    &:after {
      padding-left: 8px;
      font-size: 0.875em;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      content: "\f35d";
    }
  }

  .fa-file-download {
    padding-left: 8px;
  }
}

h1 {
  &.page-heading {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 1.9318181em;
    font-weight: 700;
    text-transform: uppercase;

    @include media("<=tablet") {
      margin-bottom: 15px;
    }
  }
}

button {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
}

i {
  &.icon-bigger {
    font-size: 1.25em;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

ul {
  &.dash-list {
    &.dash-list-indented {
      margin-left: 20px;
    }

    > li {
      &:before {
        position: absolute;
        margin-left: -20px;
        content: '\2014';
      }

      a {
        &:first-of-type {
          i.icon-l-m {
            margin: 0 2px 0 10px;
          }
        }
      }
    }

    > h3 {
      font-weight: 700;

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }
}

ol {
  list-style-type: decimal;

  &.list-unindented {
    margin-left: 20px;
  }
}

main {
  display: block;
  padding-bottom: 60px;
}

header.page-content-header {
  margin-bottom: 30px;

  p {
    font-size: 0.9090909em;
  }
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

// Hide the focus indicator if element receives focus via mouse, but still show on keyboard focus
.js-focus-visible {
  :focus {
    &:not(.focus-visible) {
      outline: none;
    }
  }
}

.page-content-block {
  font-size: 0.9090909em;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 1.3636363em;
    font-weight: 700;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.responsive-cont {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25% !important; // 16:9
  height: 0;

  &.youtube-video {
    cursor: pointer;

    &:hover {
      .youtube-vid-play-icon {
        path.ytp-large-play-button-bg {
          fill: #f00;
        }
      }
    }

    .youtube-video-gradient {
      position: absolute;
      z-index: 10;
      top: 0;
      box-sizing: content-box;
      padding-bottom: 50px;
      width: 100%;
      height: 60px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
      background-position: top;
      background-repeat: repeat-x;
      transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
      pointer-events: none;
    }

    h2.youtube-vid-title {
      position: absolute;
      z-index: 99;
      top: 20px;
      left: 20px;
      width: calc(100% - 40px);
      font-size: 1.1363636em;
      color: $white;
      // text-shadow: 0 0 5px $black;

      @include media("<=tablet") {
        top: 15px;
        left: 15px;
        width: calc(100% - 30px);
        font-size: 0.9090909em;
      }
    }
  
    .youtube-vid-play-icon {
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      height: 48px;
      cursor: pointer;
  
      path.ytp-large-play-button-bg {
        transition: all 0.5s ease;
      }
    }
  }

  iframe,
  img.youtube-vid-tn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img.youtube-vid-tn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.video-thumbnail {
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 68px;
    height: 48px;
    background-image: url('../img/youtube-play-icon.svg');
    content: '';
    transition: all 0.5s ease;
    pointer-events: none;
  }

  &:hover {
    &:before {
      background-image: url('../img/youtube-play-icon-red.svg');
    }
  }
}

// .anchor-section {
//   // Nav height (54px) + 30px of padding
//   padding-top: 84px;
//   margin-top: -84px;

//   @include media("<=tablet") {
//     // Nav height (59px) + 25px of padding
//     padding-top: 84px;
//     margin-top: -84px;
//   }
// }

@keyframes blink {  
  50% {opacity: .25;}
}

@keyframes blink-opaque {  
  50% {opacity: 0;}
}

@keyframes blink-skip {
  0% {opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes blink-alt {
  0% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  35% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  50% {background-color: $led-yellow; box-shadow: 0 0 8px $led-yellow;}
  85% {background-color: $led-yellow; box-shadow: 0 0 8px $led-yellow;}
  100% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
}

@keyframes blink-three {
  // 10% {opacity: 0;}
  // 20% {opacity: 1;}
  // 30% {opacity: 0;}
  // 40% {opacity: 1;}
  // 50% {opacity: 0;}

  0% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  5% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  10% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  15% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  20% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  25% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  30% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  35% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  40% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  45% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  50% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  55% {background-color: $led-red; box-shadow: 0 0 8px $led-red;}
  60% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
  100% {background-color: $led-off; box-shadow: 0 0 2px $led-off;}
}

.boosted-leds {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0;
  font-size: 1.125em;

  .boosted-led {
    display: inline-block;
    line-height: 1;

    &-blink {
      animation: blink 1.5s linear infinite;
    }

    &-blink-fast {
      animation: blink 1s linear infinite;
    }

    &-blink-slow {
      animation: blink 2s linear infinite;
    }

    &-blink-hard {
      animation: blink-opaque .5s step-start infinite;
    }

    &-blink-skip-first {
      animation: blink-skip 1s linear infinite;
    }

    &-blink-skip-second {
      animation: blink-skip 1s linear reverse infinite;
    }

    &-blink-alt {
      &::after {
        animation: blink-alt 2s infinite;
      }
    }

    &-blink-three {
      &::after {
        animation: blink-three 1.5s infinite;
      }
    }
  }  

  .boosted-power-led {
    margin-right: 15px;

    &::after {
      content: '';
      display: block;
      position: relative;
      box-sizing: border-box;
      border-radius: 10px;
      width: 15px;
      height: 2em;
    }

    &.boosted-led-off {
      &::after {
        background-color: $led-off;
      }
    }

    &.boosted-led-red {
      &::after {
        box-shadow: 0 0 8px $led-red;
        background-color: $led-red;
      }
    }
  
    &.boosted-led-green {
      &::after {
        box-shadow: 0 0 8px $led-green;
        background-color: $led-green;
      }
    }
  
    &.boosted-led-yellow {
      &::after {
        box-shadow: 0 0 8px $led-yellow;
        background-color: $led-yellow;        
      }
    }
  
    &.boosted-led-blue {
      &::after {
        box-shadow: 0 0 8px $led-blue;
        background-color: $led-blue;        
      }
    }

    &.boosted-led-white {
      &::after {
        border: 1px solid $led-off;
        background-color: $white;
      }
    }
  }

  .boosted-battery-leds {
    display: flex;
    border: 1px solid lighten($black, 50%);
    border-radius: 10px;
    padding: 7px 10px;
    line-height: 1;

    .boosted-led {
      &:not(:last-of-type) { // Excludes .battery-leds-placeholders
        margin-right: 5px;
      }

      &.boosted-led-off {
        color: $led-off;
      }
    
      &.boosted-led-orange {
        color: $led-orange;
  
        i.fa-circle {
          &::before {
            border-radius: 50%;
            text-shadow: 0 0 8px $led-orange;
          }
        }
      }
    }

    .battery-leds-placeholders {
      display: flex;
      position: absolute;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.boosted-status-desc {
  @include media("<=tablet") {
    flex-basis: 100%;
  }
}

.boosted-status-code {
  display: flex;
  align-items: center;

  @include media("<=tablet") {
    flex-wrap: wrap;
  }
}

// Page load progress bar
#page-load-bar {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 0%; // Starting point
  height: 3px;
  background-color: $orange;
}

.popup {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0; // Overrides default dialog 1em padding
  width: 25%;
  max-width: 800px;
  text-align: center;
  font-size: 1.1rem;


  // Clipboard pop-up
  &.faq-q-popup {
    z-index: 101; // Higher than scroll to top button
    top: auto;
    bottom: 150px;
    width: fit-content;
    transform: none;
    border: 2px solid $orange;

    @include media("<=1440px") {
      bottom: 100px;
    }

    @include media("<=tablet") {
      bottom: 30px;
      width: 50%;
    }

    @include media("<=414px") {
      width: 75%;
    }

    .popup-cont {
      position: relative;
      padding: 20px 30px;
  
      @include media("<=tablet") {
        padding: 10px 15px;
      }
  
      p {
        font-size: 1.0227272em;

        @include media("<=tablet") {
          font-size: 0.9090909em;
        }
      }
    }
  }

  // .close-button {
  //   position: absolute;
  //   top: 15px;
  //   right: 15px;
  //   width: 45px;
  //   height: 45px;

  //   .menu-bar {
  //     border: 1px solid $black;
  //   }
  // }
}

button#dark-mode-btn {
  border: 2px solid $black;
  border-radius: 5px;
  padding: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  color: $black;
  cursor: default;

  &[data-tooltip] {
    &:before,
    &:after {
      @include media("<=tablet") {
        content: none;
      }
    }

    &:after {
      border-radius: 5px;
      padding: 8px 0;
      // width: 140px;
      font-weight: 700;

      @include media("<=desktop") {
        margin-left: -130px;
      }
    }
  }

  svg {
    path {
      fill: $black
    }
  }
}

button#scroll-top-btn {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 100px;
  right: 200px;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  // border: 2px solid $orange;
  padding: 10px 12px;
  background-color: $orange;
  line-height: 1;
  font-size: 2.125em;
  color: $white;

  @include media("<=1920px") {
    bottom: 50px;
    right: 50px;
  }

  @include media("<=1440px") {
    bottom: 50px;
    right: 25px;
  }

  @include media("<=desktop") {
    font-size: 1.875em;
  }

  @include media("<=tablet") {
    bottom: 25px;
    right: 3%;
    padding: 8px 10px;
    // font-size: 1.875em;
    opacity: .75;
  }

  i {
    line-height: 1;
  }
}

nav,
section,
footer {
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
  font-size: 1.1rem;

  @include media("<=1280px") {
    padding: 30px 25px;
  }

  @include media("<=tablet") {
    padding: 30px 3%;
  }

  &.fullwidth {
      padding: 0;
      width: 100%;
  }

  &:not(.fullwidth) {
    max-width: 1440px;

    @include media("<=1440px") {
      max-width: 1280px;
    }
  }
}

#main {
  .homepage-cont {
    // Pseudoelement is fix for mobile since `background-attachment: fixed` (directly on `.homepage-cont` doesn't work on iOS/mobile
    &:before {
      content: '';
      display: block;
      position: fixed;
      z-index: -10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/boosted-stealth-mini.jpg') no-repeat center center;
      background-size: cover;
    }

    main {
      section#homepage-content {
        .page-content-block {
          margin-bottom: 0;

          &#homepage-nav {
            #homepage-nav-cont {
              margin: 0 auto;
              padding: 60px 50px;
              max-width: 1440px;
              // width: fit-content;
              // width: 100%;

              // @include media("<=1920px") {
              //   width: 50%;
              // }

              @include media("<=1440px") {
                max-width: 1280px;
              }

              @include media("<=desktop") {
                padding: 45px 25px;
              }
          
              @include media("<=tablet") {
                padding: 40px 3%;
                // width: auto;
              }
          
              .homepage-nav-row {
                &:not(:last-of-type) {
                  .homepage-nav-row-cont {
                    margin-bottom: 15px;
                  }
                }
          
                a {
                  display: inline-block;
                  width: 100%;
          
                  &,
                  &:active,
                  &:focus,
                  &:hover,
                  &:visited {
                    color: inherit;
                  }
          
                  .homepage-nav-row-cont {
                    display: flex;
                    position: relative;
                    // align-items: center;
                    border-radius: 10px;
                    padding: 30px;
                    background-image: linear-gradient(to right, $orange-light, $orange);
                    font-size: 2.25em;
                    color: $white;
                    transition: all 0.5s ease;
          
                    @include media("<=desktop") {
                      padding: 25px 20px;
                      font-size: 1.9318181em;
                    }
          
                    &:hover {
                      margin-left: -30px;
                      // margin-right: -30px;
                      // padding: 30px 60px;

                      @include media("<=desktop") {
                        margin-left: auto;
                      }
                    }
          
                    // i.homepage-nav-icon,
                    // .homepage-nav-label {
                    //   transition: all 0.5s ease;
                    // }
          
                    i.homepage-nav-icon {
                      margin-right: 15px;
                    }
            
                    .homepage-nav-label {
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }

          &#homepage-copy {
            background-color: $white;

            #homepage-copy-cont {
              margin: 0 auto;
              padding: 60px 50px;
              max-width: 1440px;

              @include media("<=1440px") {
                max-width: 1280px;
              }

              @include media("<=desktop") {
                padding: 45px 25px;
              }

              @include media("<=tablet") {
                padding: 30px 3%;
              }

              > p {
                font-size: 1.125em;

                @include media("<=tablet") {
                  font-size: 1em;
                }

                &.small {
                  padding-top: 15px;
                  font-size: 0.75em;
                }
              }
            }
          }
        }
      }
    }
  }
}

main.two-col {
  display: flex;
  margin: 0 auto;
  padding: 60px 50px;
  max-width: 1440px;

  @include media("<=1440px") {
    max-width: 1280px;
  }

  @include media("<=desktop") {
    padding: 45px 25px;
  }

  @include media("<=tablet") {
    flex-wrap: wrap;
    padding: 30px 3%;
  }

  nav.small-col,
  section.large-col {
    margin: 0;
    padding: 0;
    overflow: visible;
    max-width: none;
  }

  nav.small-col {
    flex-basis: 20%;
    z-index: 99; // To allow clicking section headings with anchor margin/padding on mobile

    @include media("<=tablet") {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
    
    .small-col-placeholder {
      position: fixed;

      @include media("<=tablet") {
        position: static;
      }
    }

    ul {
      > li {
        margin-bottom: 15px;
        font-size: 1.1363636em;

        @include media("<=desktop") {
          margin-bottom: 10px;
        }
        
        a {
          &.active-section {
            color: $orange;

            @include media("<=tablet") {
              color: $black;
            }
          }
        }
      }
    }
  }

  section.large-col {
    flex-basis: 80%;

    @media (min-height: 1300px) {
      // Set bottom margin at 1,300px and taller screens to create enough scrolling space to set last section (Troubleshooting) link as active
      margin-bottom: 100px;
    }

    @include media("<=tablet") {
      flex-basis: 100%;
    }

    h1.block-heading {
      margin-bottom: 15px;
      line-height: 1;
      font-weight: 700;
      font-size: 1.4772727em;
      text-transform: uppercase;
    }
  }
}

section#faq {
  .faq-category {
    &:not(:last-child) {
      padding-bottom: 60px;
    }

    .faq-item {
      font-size: 0.9090909em;

      &:not(:last-child) {
        margin-bottom: 30px;

        @include media("<=desktop") {
          margin-bottom: 45px;
        }
      }

      .q-icon,
      .a-icon {
        display: inline-block;
        margin-right: 15px;
        line-height: 1;
        font-size: 2.75em;

        @include media("<=desktop") {
          margin-right: 10px;
          font-size: 2.375em;
        }
      }

      .q-icon {
        color: $orange;
      }

      .a-icon {
        padding-right: 2px; // To match Q icon width
        color: $black;
      }

      // Question
      .faq-q {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: default;

        // Up/down chevron
        // &:after {
        //   margin-left: 10px;
        //   font-size: 1.875em;
        //   font-family: "Font Awesome 5 Free";
        //   font-weight: 600;

        //   @include media("<=tablet") {
        //     align-self: flex-start;
        //     line-height: 1;
        //     font-size: 1.5em;
        //   }
        // }

        // &-collapsed {
        //   &:after {
        //     content: "\f078";
        //   }
        // }

        // &-expanded {
        //   &:after {
        //     content: "\f077";
        //   }
        // }

        .faq-q-chevron {
          margin-left: 10px;
          font-size: 1.875em;
          transform: rotate(0deg);
          transition: all 0.5s ease;

          &-up {
            transform: rotate(180deg);
          }

          @include media("<=desktop") {
            align-self: flex-start; // Top-align with question text
            line-height: 1;
            font-size: 1.25em;
          }
        }

        .faq-q-btn-cont {
          display: flex;
          align-items: flex-end; // Bottom-align Q with question text

          @include media("<=desktop") {
            flex-grow: 1; // Extend to allow right-aligning clipboard button
          }

          @include media("<=tablet") {
            align-items: flex-start;
          }

          button.faq-q-btn {
            text-align: left;
            line-height: 1.5;
            font-size: 1.125em;
            font-weight: 700;

            @include media("<=desktop") {
              font-size: 1em;
            }
          }

          button.faq-q-clipboard {
            margin-left: 10px;
            line-height: 1.5;
            font-weight: 600;

            @include media("<=desktop") {
              align-self: flex-start; // Top-align clipboard button
              margin-left: auto; // Right-align clipboard button
              padding: 0 5px 0 10px;
            }

            // Tooltip overrides (and custom styles)
            &[data-tooltip] {
              &:after {
                border-radius: 5px;
                padding: 8px 0;
                // width: 220px;

                @include media("<=desktop") {
                  margin-left: -120px;
                }

                @include media("<=tablet") {
                  margin-left: -110px;
                }
              }
            }
          }
        }
      }

      // Answer
      .faq-a {
        display: none;
        margin-top: 15px;

        .faq-a-cont {
          display: flex;

          .faq-a-copy {
            width: 100%; // To fill space (for videos) even when text doesn't stretch across
            
            p {
              &:not(:first-child) {
                padding-top: 5px;
              }
  
              &:not(:last-child) {
                padding-bottom: 5px;
              }

              a {
                &.external-link {
                  &:after {
                    padding-left: 5px;
                  }
                }
              }
            }
  
            > ul {
              padding-top: 10px;
  
              &:not(:last-of-type) {
                padding-bottom: 10px;
              }
            }
  
            img.faq-a-photo,
            img.faq-a-screenshot {
              margin-top: 15px;
              border: 1px solid $gray-border;
  
              &:not(:last-child) {
                margin-bottom: 15px;
              }
            }
  
            img.faq-a-photo {
              width: 100%;
            }
  
            img.faq-a-screenshot {
              width: 50%;
  
              @include media("<=tablet") {
                width: 100%;
              }
            }
  
            .copy-block {
              &:not(:last-child) {
                padding-bottom: 30px;
              }
  
              > h2 {
                padding-bottom: 5px;
                line-height: 1;
                font-size: 1.125em;
                text-transform: uppercase;
  
                &:not(:first-child) {
                  padding-top: 15px;
                }

                & + p {
                  padding-top: 0;
                }
              }

              #boosted-led-legend {
                #boosted-led-numbers {
                  padding: 0 10px 0 11px; // 11px = same padding from `.boosted-battery-leds` + 1px of border 
                  width: fit-content;
                  text-align: center;

                  > span {
                    display: inline-block;
                    width: 1.583333333em;
                    font-size: 0.75em;
                  }
                }

                .boosted-leds {
                  margin-top: 0;
                }
              }
            }
  
            .youtube-video {
              margin: 15px 0;
            }

            .boosted-status-code-list {
              padding-bottom: 10px;

              .boosted-status-code {
                &:not(:last-child) {
                  margin-bottom: 12px;

                  @include media("<=tablet") {
                    margin-bottom: 20px;
                  }
                }

                .boosted-leds {
                  flex-shrink: 0;
                  margin: 0 20px 0 0;

                  @include media("<=tablet") {
                    margin: 0 0 5px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

section#videos {
  .video-section {
    position: relative;
    
    &:not(:last-child) {
      padding-bottom: 30px;
    }

    .responsive-cont {
      margin-bottom: 30px;

      @include media("<=tablet") {
        margin-bottom: 15px;
      }
    }
  }
}

footer {
  @include media("<=tablet") {
    padding: 30px 3% 60px; // 60px to sit above scroll to top button
  }

  &.inverted {
    color: $white;
    text-shadow: 0 0 5px $black;

    a {
      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: inherit;
      }
    }
  }

  > div {
    text-align: center;
    font-size: 0.7954545em;

    .fa-heart {
      color: $orange;
    }
  }
}

// smoothState.js Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }

  /** Reverse "exit" animations */
  &.is-exiting {
    .scene_element {
      animation-direction: alternate-reverse;
    }
  }
}