#nav-placeholder {
  // Overwritten by dynamic JS
  height: 60px;

  @include media("<=tablet") {
    height: 58px;
  }
}

nav#f-b-nav {
  position: fixed;
  z-index: 100;
  overflow: visible;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0 rgba(0,0,0,.08);
  background-color: $white;
  font-size: 1.1rem;

  @include media("<=tablet") {
    overflow: visible;
  }

  #f-b-nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1440px;
  
    @include media("<=1440px") {
      max-width: 1280px;
    }

    @include media("<=desktop") {
      padding: 0 25px;
    }

    @include media("<=tablet") {
      padding: 12px 3%;
    }

    #nav-btn,
    #nav-empty {
      // Hide on desktop
      display: none;

      @include media("<=tablet") {
        flex-basis: 25%;
      }
    }

    #nav-btn {
      // Display on mobile/tablet (portrait)
      @include media("<=tablet") {
        display: flex; // For vertical alignment between 3 bars and X
        padding: 0;
      }

      &.hamburger-smalll {
        span.hamburger-inner {
          &,
          &:before,
          &:after {
            @include media("<=tablet") {
              width: 30px;
              height: 3px;
            }
          }

          &:before {
            top: -8px;
          }

          &:after {
            bottom: -8px;
          }
        }
      }
    }

    #nav-logo {
      padding: 15px 0; // To match nav links in case links aren't displayed
      
      @include media("<=tablet") {
        flex-basis: 50%;
        padding: 0;
        text-align: center;
      }

      > a {
        display: block;
        height: 30px;

        @include media("<=tablet") {
          height: 25px;
        }

        &:hover {
          svg {
            path {
              fill: $orange;

              @include media("<=tablet") {
                fill: $black;
              }
            }
          }
        }

        img,
        svg {
          height: 100%;
        }

        svg {
          path {
            transition: all 0.5s ease;
          }
        }
      }
    }

    #nav-empty {
      // Display on mobile/tablet (portrait)
      @include media("<=tablet") {
        display: block;
      }
    }
  
    ul#nav-links {
      display: flex;
      align-items: center;

      @include media("<=tablet") {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 5px 10px -2px rgba(0,0,0,.15);;
        padding: 13px 3% 25px; // 13px plus `#f-b-nav-cont` bottom padding to make 25px total | 25px matches `li.nav-link-item` bottom margin
        width: 100%;
        background-color: $white;
      }

      li.nav-link-item {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.1363636em;

        @include media("<=tablet") {
          display: block;
          line-height: 1;
          font-size: 1.0227272em;
        }
  
        &:not(:last-child) {
          margin-right: 30px;

          @include media("<=tablet") {
            margin-right: 0;
            margin-bottom: 25px;
          }
        }
  
        > a {
          display: inline-block;
          position: relative;
          padding: 15px 0;

          @include media("<=tablet") {
            padding: 0; // Remove between text and underline on phones/tablets (portrait)
            width: 100%;
            height: 100%;
            line-height: 1;
          }
  
          &:before {
            display: inline-block;
            position: absolute;
            visibility: hidden;
            top: calc(100% - 4px);
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $orange;
            content: '';
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s;

            // Remove hover/active underline on phones/tablets (portrait)
            @include media("<=tablet") {
              content: none;
            }
          }
  
          &:hover,
          &.active {
            color: $orange;
            
            &:before {
              visibility: visible;
              transform: scaleX(1);
            }
          }

          &:hover {
            &:before {
              // Remove hover underline on phones/tablets (landscape/portrait)
              @include media("<=desktop") {
                content: none;
              }
            }
          }
        }
      }

      #dark-mode-toggle {
        margin-left: 30px;
  
        @include media("<=tablet") {
          display: flex;
          align-items: center;
          margin-top: 35px; // 10px higher than margin-bottom on previous li
          margin-left: auto;
        }

        #dark-mode-btn {
        }

        #dark-mode-label {
          display: none;

          @include media("<=tablet") {
            display: inline-block;
            margin-left: 8px;
            line-height: 1;
            font-size: 1.0227272em;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}