// Colors
$white: #fff;
$gray: #656565;
$gray-light: #f3f3f3;
$gray-dark: #4d5250;
$gray-dark-text: #333;
$gray-border: #ddd;
$black: #000;
$orange: #f44805;
$orange-light: lighten($orange, 20%);
$dark-nav: #202020;
$dark-bg: #181818;
$dark-text: #e8e6e3;
$dark-orange: darken($orange, 7.5%);

$led-off: lighten($black, 27.5%);
$led-green: #03d936;
$led-red: #ff3333;
$led-yellow: #ffd11a;
$led-blue: #0095fb;
$led-white: #fff;
$led-orange: #ff8533;