@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/**
 * Tooltip Styles
 */
/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0deg, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */
/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0deg, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0deg, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  transform: translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0deg, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0deg, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #000;
  position: relative;
}
body.dark-mode {
  background-color: #181818;
  color: #e8e6e3;
}
body.dark-mode a, body.dark-mode a:active, body.dark-mode a:focus, body.dark-mode a:visited {
  color: #e8e6e3;
}
body.dark-mode a:hover {
  color: #cf3d04;
}
body.dark-mode .boosted-leds .boosted-power-led.boosted-led-red::after {
  box-shadow: 0 0 12px #ff3333;
}
body.dark-mode .boosted-leds .boosted-power-led.boosted-led-green::after {
  box-shadow: 0 0 12px #03d936;
}
body.dark-mode .boosted-leds .boosted-power-led.boosted-led-yellow::after {
  box-shadow: 0 0 12px #ffd11a;
}
body.dark-mode .boosted-leds .boosted-power-led.boosted-led-blue::after {
  box-shadow: 0 0 12px #0095fb;
}
body.dark-mode .boosted-leds .boosted-power-led.boosted-led-white::after {
  box-shadow: 0 0 12px #fff;
  border: none;
}
body.dark-mode .boosted-leds .boosted-battery-leds .boosted-led-orange i.fa-circle::before {
  text-shadow: 0 0 10px #ff8533;
}
body.dark-mode #page-load-bar {
  background-color: #cf3d04;
}
body.dark-mode button#dark-mode-btn {
  border: 2px solid #e8e6e3;
  color: #e8e6e3;
}
body.dark-mode button#dark-mode-btn svg path {
  fill: #e8e6e3;
}
body.dark-mode button#scroll-top-btn {
  background-color: #cf3d04;
}
body.dark-mode nav#f-b-nav {
  background-color: #202020;
}
body.dark-mode nav#f-b-nav #f-b-nav-cont #nav-btn .hamburger-box .hamburger-inner, body.dark-mode nav#f-b-nav #f-b-nav-cont #nav-btn .hamburger-box .hamburger-inner:before, body.dark-mode nav#f-b-nav #f-b-nav-cont #nav-btn .hamburger-box .hamburger-inner:after {
  background-color: #e8e6e3;
}
body.dark-mode nav#f-b-nav #f-b-nav-cont #nav-logo > a:hover svg path {
  fill: #cf3d04;
}
@media (max-width: 768px) {
  body.dark-mode nav#f-b-nav #f-b-nav-cont #nav-logo > a:hover svg path {
    fill: #e8e6e3;
  }
}
body.dark-mode nav#f-b-nav #f-b-nav-cont #nav-logo > a svg path {
  fill: #e8e6e3;
}
@media (max-width: 768px) {
  body.dark-mode nav#f-b-nav #f-b-nav-cont ul#nav-links {
    background-color: #202020;
  }
}
body.dark-mode nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:before {
  background-color: #cf3d04;
}
body.dark-mode nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:hover, body.dark-mode nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a.active {
  color: #cf3d04;
}
body.dark-mode #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont {
  background-image: linear-gradient(to right, #fc8e63, #cf3d04);
}
body.dark-mode #main .homepage-cont main section#homepage-content .page-content-block#homepage-copy {
  background-color: #181818;
}
body.dark-mode #main main.two-col nav.small-col ul > li a.active-section {
  color: #cf3d04;
}
@media (max-width: 768px) {
  body.dark-mode #main main.two-col nav.small-col ul > li a.active-section {
    color: #e8e6e3;
  }
}
body.dark-mode #main main button {
  color: #e8e6e3;
}
body.dark-mode #main main section#faq .faq-category .faq-item .a-icon {
  color: #e8e6e3;
}
body.dark-mode #main main section#faq .faq-category .faq-item .q-icon {
  color: #cf3d04;
}
body.dark-mode #main footer > div .fa-heart {
  color: #cf3d04;
}

a,
h1,
img,
li,
.button {
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
a, a:active, a:focus, a:visited {
  color: #000;
}
a:hover {
  color: #f44805;
}
a.external-link:after {
  padding-left: 8px;
  font-size: 0.875em;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f35d";
}
a .fa-file-download {
  padding-left: 8px;
}

h1.page-heading {
  margin-bottom: 20px;
  line-height: 1;
  font-size: 1.9318181em;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h1.page-heading {
    margin-bottom: 15px;
  }
}

button {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  font-size: inherit;
  font-family: "Roboto", sans-serif;
}

i.icon-bigger {
  font-size: 1.25em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

ul.dash-list.dash-list-indented {
  margin-left: 20px;
}
ul.dash-list > li:before {
  position: absolute;
  margin-left: -20px;
  content: "—";
}
ul.dash-list > li a:first-of-type i.icon-l-m {
  margin: 0 2px 0 10px;
}
ul.dash-list > h3 {
  font-weight: 700;
}
ul.dash-list > h3:not(:first-of-type) {
  margin-top: 10px;
}

ol {
  list-style-type: decimal;
}
ol.list-unindented {
  margin-left: 20px;
}

main {
  display: block;
  padding-bottom: 60px;
}

header.page-content-header {
  margin-bottom: 30px;
}
header.page-content-header p {
  font-size: 0.9090909em;
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.page-content-block {
  font-size: 0.9090909em;
}
.page-content-block:not(:last-child) {
  margin-bottom: 30px;
}
.page-content-block h2 {
  font-size: 1.3636363em;
  font-weight: 700;
}
.page-content-block p:not(:last-child) {
  margin-bottom: 15px;
}

.responsive-cont {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25% !important;
  height: 0;
}
.responsive-cont.youtube-video {
  cursor: pointer;
}
.responsive-cont.youtube-video:hover .youtube-vid-play-icon path.ytp-large-play-button-bg {
  fill: #f00;
}
.responsive-cont.youtube-video .youtube-video-gradient {
  position: absolute;
  z-index: 10;
  top: 0;
  box-sizing: content-box;
  padding-bottom: 50px;
  width: 100%;
  height: 60px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  pointer-events: none;
}
.responsive-cont.youtube-video h2.youtube-vid-title {
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  font-size: 1.1363636em;
  color: #fff;
}
@media (max-width: 768px) {
  .responsive-cont.youtube-video h2.youtube-vid-title {
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    font-size: 0.9090909em;
  }
}
.responsive-cont.youtube-video .youtube-vid-play-icon {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 68px;
  height: 48px;
  cursor: pointer;
}
.responsive-cont.youtube-video .youtube-vid-play-icon path.ytp-large-play-button-bg {
  transition: all 0.5s ease;
}
.responsive-cont iframe,
.responsive-cont img.youtube-vid-tn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-cont img.youtube-vid-tn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;
}
.video-thumbnail:before {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 68px;
  height: 48px;
  background-image: url("../img/youtube-play-icon.svg");
  content: "";
  transition: all 0.5s ease;
  pointer-events: none;
}
.video-thumbnail:hover:before {
  background-image: url("../img/youtube-play-icon-red.svg");
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.25;
  }
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}
@-webkit-keyframes blink-opaque {
  50% {
    opacity: 0;
  }
}
@keyframes blink-opaque {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink-skip {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-skip {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink-alt {
  0% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  35% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  50% {
    background-color: #ffd11a;
    box-shadow: 0 0 8px #ffd11a;
  }
  85% {
    background-color: #ffd11a;
    box-shadow: 0 0 8px #ffd11a;
  }
  100% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
}
@keyframes blink-alt {
  0% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  35% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  50% {
    background-color: #ffd11a;
    box-shadow: 0 0 8px #ffd11a;
  }
  85% {
    background-color: #ffd11a;
    box-shadow: 0 0 8px #ffd11a;
  }
  100% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
}
@-webkit-keyframes blink-three {
  0% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  5% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  10% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  15% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  20% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  25% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  30% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  35% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  40% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  45% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  50% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  55% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  60% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  100% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
}
@keyframes blink-three {
  0% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  5% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  10% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  15% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  20% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  25% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  30% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  35% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  40% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  45% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  50% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  55% {
    background-color: #ff3333;
    box-shadow: 0 0 8px #ff3333;
  }
  60% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
  100% {
    background-color: #464646;
    box-shadow: 0 0 2px #464646;
  }
}
.boosted-leds {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0;
  font-size: 1.125em;
}
.boosted-leds .boosted-led {
  display: inline-block;
  line-height: 1;
}
.boosted-leds .boosted-led-blink {
  -webkit-animation: blink 1.5s linear infinite;
          animation: blink 1.5s linear infinite;
}
.boosted-leds .boosted-led-blink-fast {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}
.boosted-leds .boosted-led-blink-slow {
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.boosted-leds .boosted-led-blink-hard {
  -webkit-animation: blink-opaque 0.5s step-start infinite;
          animation: blink-opaque 0.5s step-start infinite;
}
.boosted-leds .boosted-led-blink-skip-first {
  -webkit-animation: blink-skip 1s linear infinite;
          animation: blink-skip 1s linear infinite;
}
.boosted-leds .boosted-led-blink-skip-second {
  -webkit-animation: blink-skip 1s linear reverse infinite;
          animation: blink-skip 1s linear reverse infinite;
}
.boosted-leds .boosted-led-blink-alt::after {
  -webkit-animation: blink-alt 2s infinite;
          animation: blink-alt 2s infinite;
}
.boosted-leds .boosted-led-blink-three::after {
  -webkit-animation: blink-three 1.5s infinite;
          animation: blink-three 1.5s infinite;
}
.boosted-leds .boosted-power-led {
  margin-right: 15px;
}
.boosted-leds .boosted-power-led::after {
  content: "";
  display: block;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  width: 15px;
  height: 2em;
}
.boosted-leds .boosted-power-led.boosted-led-off::after {
  background-color: #464646;
}
.boosted-leds .boosted-power-led.boosted-led-red::after {
  box-shadow: 0 0 8px #ff3333;
  background-color: #ff3333;
}
.boosted-leds .boosted-power-led.boosted-led-green::after {
  box-shadow: 0 0 8px #03d936;
  background-color: #03d936;
}
.boosted-leds .boosted-power-led.boosted-led-yellow::after {
  box-shadow: 0 0 8px #ffd11a;
  background-color: #ffd11a;
}
.boosted-leds .boosted-power-led.boosted-led-blue::after {
  box-shadow: 0 0 8px #0095fb;
  background-color: #0095fb;
}
.boosted-leds .boosted-power-led.boosted-led-white::after {
  border: 1px solid #464646;
  background-color: #fff;
}
.boosted-leds .boosted-battery-leds {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 7px 10px;
  line-height: 1;
}
.boosted-leds .boosted-battery-leds .boosted-led:not(:last-of-type) {
  margin-right: 5px;
}
.boosted-leds .boosted-battery-leds .boosted-led.boosted-led-off {
  color: #464646;
}
.boosted-leds .boosted-battery-leds .boosted-led.boosted-led-orange {
  color: #ff8533;
}
.boosted-leds .boosted-battery-leds .boosted-led.boosted-led-orange i.fa-circle::before {
  border-radius: 50%;
  text-shadow: 0 0 8px #ff8533;
}
.boosted-leds .boosted-battery-leds .battery-leds-placeholders {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .boosted-status-desc {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}

.boosted-status-code {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .boosted-status-code {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

#page-load-bar {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #f44805;
}

.popup {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0;
  width: 25%;
  max-width: 800px;
  text-align: center;
  font-size: 1.1rem;
}
.popup.faq-q-popup {
  z-index: 101;
  top: auto;
  bottom: 150px;
  width: -webkit-fit-content;
  width: fit-content;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #f44805;
}
@media (max-width: 1440px) {
  .popup.faq-q-popup {
    bottom: 100px;
  }
}
@media (max-width: 768px) {
  .popup.faq-q-popup {
    bottom: 30px;
    width: 50%;
  }
}
@media (max-width: 414px) {
  .popup.faq-q-popup {
    width: 75%;
  }
}
.popup.faq-q-popup .popup-cont {
  position: relative;
  padding: 20px 30px;
}
@media (max-width: 768px) {
  .popup.faq-q-popup .popup-cont {
    padding: 10px 15px;
  }
}
.popup.faq-q-popup .popup-cont p {
  font-size: 1.0227272em;
}
@media (max-width: 768px) {
  .popup.faq-q-popup .popup-cont p {
    font-size: 0.9090909em;
  }
}

button#dark-mode-btn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  color: #000;
  cursor: default;
}
@media (max-width: 768px) {
  button#dark-mode-btn[data-tooltip]:before, button#dark-mode-btn[data-tooltip]:after {
    content: none;
  }
}
button#dark-mode-btn[data-tooltip]:after {
  border-radius: 5px;
  padding: 8px 0;
  font-weight: 700;
}
@media (max-width: 1024px) {
  button#dark-mode-btn[data-tooltip]:after {
    margin-left: -130px;
  }
}
button#dark-mode-btn svg path {
  fill: #000;
}

button#scroll-top-btn {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 100px;
  right: 200px;
  border-radius: 8px;
  padding: 10px 12px;
  background-color: #f44805;
  line-height: 1;
  font-size: 2.125em;
  color: #fff;
}
@media (max-width: 1920px) {
  button#scroll-top-btn {
    bottom: 50px;
    right: 50px;
  }
}
@media (max-width: 1440px) {
  button#scroll-top-btn {
    bottom: 50px;
    right: 25px;
  }
}
@media (max-width: 1024px) {
  button#scroll-top-btn {
    font-size: 1.875em;
  }
}
@media (max-width: 768px) {
  button#scroll-top-btn {
    bottom: 25px;
    right: 3%;
    padding: 8px 10px;
    opacity: 0.75;
  }
}
button#scroll-top-btn i {
  line-height: 1;
}

nav,
section,
footer {
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
  font-size: 1.1rem;
}
@media (max-width: 1280px) {
  nav,
section,
footer {
    padding: 30px 25px;
  }
}
@media (max-width: 768px) {
  nav,
section,
footer {
    padding: 30px 3%;
  }
}
nav.fullwidth,
section.fullwidth,
footer.fullwidth {
  padding: 0;
  width: 100%;
}
nav:not(.fullwidth),
section:not(.fullwidth),
footer:not(.fullwidth) {
  max-width: 1440px;
}
@media (max-width: 1440px) {
  nav:not(.fullwidth),
section:not(.fullwidth),
footer:not(.fullwidth) {
    max-width: 1280px;
  }
}

#main .homepage-cont:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/boosted-stealth-mini.jpg") no-repeat center center;
  background-size: cover;
}
#main .homepage-cont main section#homepage-content .page-content-block {
  margin-bottom: 0;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont {
  margin: 0 auto;
  padding: 60px 50px;
  max-width: 1440px;
}
@media (max-width: 1440px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont {
    max-width: 1280px;
  }
}
@media (max-width: 1024px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont {
    padding: 45px 25px;
  }
}
@media (max-width: 768px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont {
    padding: 40px 3%;
  }
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row:not(:last-of-type) .homepage-nav-row-cont {
  margin-bottom: 15px;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a {
  display: inline-block;
  width: 100%;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a, #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a:active, #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a:focus, #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a:hover, #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a:visited {
  color: inherit;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 10px;
  padding: 30px;
  background-image: linear-gradient(to right, #fc8e63, #f44805);
  font-size: 2.25em;
  color: #fff;
  transition: all 0.5s ease;
}
@media (max-width: 1024px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont {
    padding: 25px 20px;
    font-size: 1.9318181em;
  }
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont:hover {
  margin-left: -30px;
}
@media (max-width: 1024px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont:hover {
    margin-left: auto;
  }
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont i.homepage-nav-icon {
  margin-right: 15px;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-nav #homepage-nav-cont .homepage-nav-row a .homepage-nav-row-cont .homepage-nav-label {
  line-height: 1;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-copy {
  background-color: #fff;
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont {
  margin: 0 auto;
  padding: 60px 50px;
  max-width: 1440px;
}
@media (max-width: 1440px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont {
    max-width: 1280px;
  }
}
@media (max-width: 1024px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont {
    padding: 45px 25px;
  }
}
@media (max-width: 768px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont {
    padding: 30px 3%;
  }
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont > p {
  font-size: 1.125em;
}
@media (max-width: 768px) {
  #main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont > p {
    font-size: 1em;
  }
}
#main .homepage-cont main section#homepage-content .page-content-block#homepage-copy #homepage-copy-cont > p.small {
  padding-top: 15px;
  font-size: 0.75em;
}

main.two-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 60px 50px;
  max-width: 1440px;
}
@media (max-width: 1440px) {
  main.two-col {
    max-width: 1280px;
  }
}
@media (max-width: 1024px) {
  main.two-col {
    padding: 45px 25px;
  }
}
@media (max-width: 768px) {
  main.two-col {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 30px 3%;
  }
}
main.two-col nav.small-col,
main.two-col section.large-col {
  margin: 0;
  padding: 0;
  overflow: visible;
  max-width: none;
}
main.two-col nav.small-col {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  z-index: 99;
}
@media (max-width: 768px) {
  main.two-col nav.small-col {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 30px;
  }
}
main.two-col nav.small-col .small-col-placeholder {
  position: fixed;
}
@media (max-width: 768px) {
  main.two-col nav.small-col .small-col-placeholder {
    position: static;
  }
}
main.two-col nav.small-col ul > li {
  margin-bottom: 15px;
  font-size: 1.1363636em;
}
@media (max-width: 1024px) {
  main.two-col nav.small-col ul > li {
    margin-bottom: 10px;
  }
}
main.two-col nav.small-col ul > li a.active-section {
  color: #f44805;
}
@media (max-width: 768px) {
  main.two-col nav.small-col ul > li a.active-section {
    color: #000;
  }
}
main.two-col section.large-col {
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
}
@media (min-height: 1300px) {
  main.two-col section.large-col {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  main.two-col section.large-col {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
main.two-col section.large-col h1.block-heading {
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.4772727em;
  text-transform: uppercase;
}

section#faq .faq-category:not(:last-child) {
  padding-bottom: 60px;
}
section#faq .faq-category .faq-item {
  font-size: 0.9090909em;
}
section#faq .faq-category .faq-item:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item:not(:last-child) {
    margin-bottom: 45px;
  }
}
section#faq .faq-category .faq-item .q-icon,
section#faq .faq-category .faq-item .a-icon {
  display: inline-block;
  margin-right: 15px;
  line-height: 1;
  font-size: 2.75em;
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item .q-icon,
section#faq .faq-category .faq-item .a-icon {
    margin-right: 10px;
    font-size: 2.375em;
  }
}
section#faq .faq-category .faq-item .q-icon {
  color: #f44805;
}
section#faq .faq-category .faq-item .a-icon {
  padding-right: 2px;
  color: #000;
}
section#faq .faq-category .faq-item .faq-q {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: default;
}
section#faq .faq-category .faq-item .faq-q .faq-q-chevron {
  margin-left: 10px;
  font-size: 1.875em;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 0.5s ease;
}
section#faq .faq-category .faq-item .faq-q .faq-q-chevron-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-chevron {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    line-height: 1;
    font-size: 1.25em;
  }
}
section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 768px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-btn {
  text-align: left;
  line-height: 1.5;
  font-size: 1.125em;
  font-weight: 700;
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-btn {
    font-size: 1em;
  }
}
section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-clipboard {
  margin-left: 10px;
  line-height: 1.5;
  font-weight: 600;
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-clipboard {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-left: auto;
    padding: 0 5px 0 10px;
  }
}
section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-clipboard[data-tooltip]:after {
  border-radius: 5px;
  padding: 8px 0;
}
@media (max-width: 1024px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-clipboard[data-tooltip]:after {
    margin-left: -120px;
  }
}
@media (max-width: 768px) {
  section#faq .faq-category .faq-item .faq-q .faq-q-btn-cont button.faq-q-clipboard[data-tooltip]:after {
    margin-left: -110px;
  }
}
section#faq .faq-category .faq-item .faq-a {
  display: none;
  margin-top: 15px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy {
  width: 100%;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy p:not(:first-child) {
  padding-top: 5px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy p:not(:last-child) {
  padding-bottom: 5px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy p a.external-link:after {
  padding-left: 5px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy > ul {
  padding-top: 10px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy > ul:not(:last-of-type) {
  padding-bottom: 10px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-photo,
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-screenshot {
  margin-top: 15px;
  border: 1px solid #ddd;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-photo:not(:last-child),
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-screenshot:not(:last-child) {
  margin-bottom: 15px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-photo {
  width: 100%;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-screenshot {
  width: 50%;
}
@media (max-width: 768px) {
  section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy img.faq-a-screenshot {
    width: 100%;
  }
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block:not(:last-child) {
  padding-bottom: 30px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block > h2 {
  padding-bottom: 5px;
  line-height: 1;
  font-size: 1.125em;
  text-transform: uppercase;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block > h2:not(:first-child) {
  padding-top: 15px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block > h2 + p {
  padding-top: 0;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block #boosted-led-legend #boosted-led-numbers {
  padding: 0 10px 0 11px;
  width: -webkit-fit-content;
  width: fit-content;
  text-align: center;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block #boosted-led-legend #boosted-led-numbers > span {
  display: inline-block;
  width: 1.583333333em;
  font-size: 0.75em;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .copy-block #boosted-led-legend .boosted-leds {
  margin-top: 0;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .youtube-video {
  margin: 15px 0;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .boosted-status-code-list {
  padding-bottom: 10px;
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .boosted-status-code-list .boosted-status-code:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .boosted-status-code-list .boosted-status-code:not(:last-child) {
    margin-bottom: 20px;
  }
}
section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .boosted-status-code-list .boosted-status-code .boosted-leds {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin: 0 20px 0 0;
}
@media (max-width: 768px) {
  section#faq .faq-category .faq-item .faq-a .faq-a-cont .faq-a-copy .boosted-status-code-list .boosted-status-code .boosted-leds {
    margin: 0 0 5px 0;
  }
}

section#videos .video-section {
  position: relative;
}
section#videos .video-section:not(:last-child) {
  padding-bottom: 30px;
}
section#videos .video-section .responsive-cont {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  section#videos .video-section .responsive-cont {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 30px 3% 60px;
  }
}
footer.inverted {
  color: #fff;
  text-shadow: 0 0 5px #000;
}
footer.inverted a, footer.inverted a:active, footer.inverted a:focus, footer.inverted a:hover, footer.inverted a:visited {
  color: inherit;
}
footer > div {
  text-align: center;
  font-size: 0.7954545em;
}
footer > div .fa-heart {
  color: #f44805;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.m-scene {
  /** Basic styles for an animated element */
  /** An element that fades in */
  /** An element that fades in and slides up */
  /** An element that fades in and slides from the right */
  /** Reverse "exit" animations */
}
.m-scene .scene_element {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.m-scene .scene_element--fadeinup {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
.m-scene .scene_element--fadeinright {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}
.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}

#nav-placeholder {
  height: 60px;
}
@media (max-width: 768px) {
  #nav-placeholder {
    height: 58px;
  }
}

nav#f-b-nav {
  position: fixed;
  z-index: 100;
  overflow: visible;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  nav#f-b-nav {
    overflow: visible;
  }
}
nav#f-b-nav #f-b-nav-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1440px;
}
@media (max-width: 1440px) {
  nav#f-b-nav #f-b-nav-cont {
    max-width: 1280px;
  }
}
@media (max-width: 1024px) {
  nav#f-b-nav #f-b-nav-cont {
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont {
    padding: 12px 3%;
  }
}
nav#f-b-nav #f-b-nav-cont #nav-btn,
nav#f-b-nav #f-b-nav-cont #nav-empty {
  display: none;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-btn,
nav#f-b-nav #f-b-nav-cont #nav-empty {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-btn.hamburger-smalll span.hamburger-inner, nav#f-b-nav #f-b-nav-cont #nav-btn.hamburger-smalll span.hamburger-inner:before, nav#f-b-nav #f-b-nav-cont #nav-btn.hamburger-smalll span.hamburger-inner:after {
    width: 30px;
    height: 3px;
  }
}
nav#f-b-nav #f-b-nav-cont #nav-btn.hamburger-smalll span.hamburger-inner:before {
  top: -8px;
}
nav#f-b-nav #f-b-nav-cont #nav-btn.hamburger-smalll span.hamburger-inner:after {
  bottom: -8px;
}
nav#f-b-nav #f-b-nav-cont #nav-logo {
  padding: 15px 0;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-logo {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    padding: 0;
    text-align: center;
  }
}
nav#f-b-nav #f-b-nav-cont #nav-logo > a {
  display: block;
  height: 30px;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-logo > a {
    height: 25px;
  }
}
nav#f-b-nav #f-b-nav-cont #nav-logo > a:hover svg path {
  fill: #f44805;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-logo > a:hover svg path {
    fill: #000;
  }
}
nav#f-b-nav #f-b-nav-cont #nav-logo > a img,
nav#f-b-nav #f-b-nav-cont #nav-logo > a svg {
  height: 100%;
}
nav#f-b-nav #f-b-nav-cont #nav-logo > a svg path {
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont #nav-empty {
    display: block;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.15);
    padding: 13px 3% 25px;
    width: 100%;
    background-color: #fff;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1363636em;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item {
    display: block;
    line-height: 1;
    font-size: 1.0227272em;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a {
  display: inline-block;
  position: relative;
  padding: 15px 0;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a {
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:before {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  top: calc(100% - 4px);
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f44805;
  content: "";
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:before {
    content: none;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:hover, nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a.active {
  color: #f44805;
}
nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:hover:before, nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 1024px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links li.nav-link-item > a:hover:before {
    content: none;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links #dark-mode-toggle {
  margin-left: 30px;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links #dark-mode-toggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px;
    margin-left: auto;
  }
}
nav#f-b-nav #f-b-nav-cont ul#nav-links #dark-mode-toggle #dark-mode-label {
  display: none;
}
@media (max-width: 768px) {
  nav#f-b-nav #f-b-nav-cont ul#nav-links #dark-mode-toggle #dark-mode-label {
    display: inline-block;
    margin-left: 8px;
    line-height: 1;
    font-size: 1.0227272em;
    font-weight: 500;
    text-transform: uppercase;
  }
}
